USE [master]
GO
/****** Object:  Database [tekus]    Script Date: 30/11/2018 8:40:42 a.m. ******/
CREATE DATABASE [tekus]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tekus', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\tekus.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tekus_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\tekus_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tekus].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tekus]
GO
USE [tekus]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 30/11/2018 8:40:42 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nit] [int] NULL,
	[nombre] [nvarchar](50) NULL,
	[correo] [nvarchar](50) NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pais]    Script Date: 30/11/2018 8:40:42 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pais](
	[id] [int] NULL,
	[pais] [nvarchar](50) NULL,
	[idpais] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_pais] PRIMARY KEY CLUSTERED 
(
	[idpais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[servicio]    Script Date: 30/11/2018 8:40:42 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servicio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[valor] [real] NULL,
	[idcliente] [int] NULL,
 CONSTRAINT [PK_servicio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pais]  WITH CHECK ADD  CONSTRAINT [FK_pais_servicio] FOREIGN KEY([id])
REFERENCES [dbo].[servicio] ([id])
GO
ALTER TABLE [dbo].[pais] CHECK CONSTRAINT [FK_pais_servicio]
GO
ALTER TABLE [dbo].[servicio]  WITH CHECK ADD  CONSTRAINT [FK_servicio_cliente] FOREIGN KEY([idcliente])
REFERENCES [dbo].[cliente] ([id])
GO
ALTER TABLE [dbo].[servicio] CHECK CONSTRAINT [FK_servicio_cliente]
GO
USE [master]
GO
